.about{

    color: #FF0000;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100px;
    text-align: end;
    width: 85%;
}

.title{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-size: 65px;
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 1400px) {
    .about{
        font-size: 60px;
        margin-bottom: 10px;
    }
    .title{
        
        margin-top: 1px;
    }
  }

@media (max-width: 900px) {
    .about{
        font-size: 30px;
    }
    .title{
        font-size: 30px;
    }
  }