.carrosel{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 1400px) {
    .figma{
        width: 100px !important;
    }
    .carrosel{
        width: 200px !important;
    }
    .carrosel > img {
        width: 150px ;
    }
}


  
